body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body{
    background-image: url(img/psychedelic.jpg);
}


.container{
    background-color: rgba(255,255,255,0.6);
    margin: 0 auto;
    width: 84%;
    min-height: 100%;    
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top:0;
    letter-spacing: 0.2rem;
    padding-top: 1rem;
}


.transitions{
    transition: 0.8s;
}

#score, #results{
    position: absolute;
    border: 3px solid rgba(27, 24, 24, 0.8);
    top:26%;
    height: 3rem;
    border-radius: 10px;
    translate: 0 -50%;

}

#score{
    width: fit-content;
    right: 15%;
    
    border-collapse: separate;
    border-spacing: 0.4rem 0.2rem;
}

#results{
    width: 50%;
    left: 15%;
    padding-top: 0.6rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}


/* RPS - buttons */
.btn{
    all: unset;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform .2s;
}

.btn:hover{
    transform: scale(1.2);
}

.btn.rock{
    height:32%;
    width: 17%;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
}

.btn.paper, .btn.btn.scissors{
    height: 30%;
    width: 22%;
    position: absolute;
    top:35%;
}

.btn.paper{
    right:12%;   
}

.btn.scissors{
    left:10%;
}

.btn img{
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid transparent;
}

/* arrows from rock to scissors */
.RS.first{
    position: absolute;
    bottom: 25%;
    left: 39.5%;
    rotate: -70deg;
}

.RS.second{
    position: absolute;
    bottom: 30%;
    left: 35.5%;
    rotate: -50deg;
}

.RS.third{
    position: absolute;
    bottom: 37%;
    left: 32%;
    rotate: -38deg;
}



/* arrows from paper to rock */
.PR.first{
    position: absolute;
    bottom: 38%;
    right: 32%;
    rotate: -150deg;
}
.PR.second{
    position: absolute;
    bottom: 32%;
    right: 34.5%;
    rotate: -140deg;
}
.PR.third{
    position: absolute;
    bottom: 27.5%;
    right: 38%;
    rotate: -125deg;
}
.PR.fourth{
    position: absolute;
    bottom: 25%;
    right: 42%;
    rotate: -115deg;
}

/* arrow from scissors to paper */
.SP.first{
    position: absolute;
    top: 42.5%;
    left: 33%;
    rotate: 66deg;
}
.SP.second{
    position: absolute;
    top: 38%;
    left: 39.5%;
    rotate: 72deg;
}
.SP.third{
    position: absolute;
    top: 36%;
    left: 47%;
    rotate: 85deg;
}

.SP.fourth{
    position: absolute;
    top: 37.8%;
    left: 55.5%;
    rotate: 110deg;
}

.SP.fifth{
    position: absolute;
    top: 43.5%;
    left: 63%;
    rotate: 120deg;
}

/* add-on classes */
.loseColour{
    box-shadow: 0 0 10px 4px  red;
}

.winColour{
    box-shadow: 0 0 10px 4px  blue;
}

.winColour-triangle{    
	border-bottom-color: blue;
}

.loseColour-triangle{
    border-bottom-color: red;
}